@page "/setup/Blog"
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime
<NavLink href="/setup/blog/create" class="btn btn-success">Create</NavLink>
@if (_bloglistResponseModel is not null)
   
{
    int count = 0;
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Content</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _bloglistResponseModel.Data)
            {
                <tr>
                    <th scope="row">@(++count+((_bloglistResponseModel.PageNo-1)*_bloglistResponseModel.PageSize))</th>
                    <td>
                        <button type="button" @onclick="()=>Edit(item.Blog_Id)" class="btn btn-warning">Edit</button>
                        <button type="button" @onclick="()=>Delete(item.Blog_Id)" class="btn btn-danger">Delete</button>
                    </td>
                    <td>@item.Blog_Title</td>
                    <td>@item.Blog_Author</td>
                    <td>@item.Blog_content</td>
                </tr>
            }
        </tbody>
    </table>
    <MudPagination SelectedChanged="PageChanged" Count="@_bloglistResponseModel.PageCount" Class="pa-4" />
}

