@model BlogResponseModel
@{
    ViewData["Title"] = "Blog";
    int count = 0;
    int pageCount = Model.PageSetting.PageCount;
    int pageNo = Model.PageSetting.PageNo;
    int pageSize = Model.PageSetting.PageSize;

    string GetLink(int pageNo,int pageSize)
    {
        return $"/Blog/List?pageNo={pageNo}&pageSize={pageSize}";
    }
}
<a href="/Blog/Create" class="btn btn-success">Create</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <th scope="row">@(++count)</th>
                <td>
                    <a href="/BlogAjax/edit/@item.Blog_Id" class="btn btn-warning">Edit</a>
                    <a href="/Blog/Delete/@item.Blog_Id" class="btn btn-danger">Delete</a>
                </td>
                <td>@item.Blog_Title</td>
                <td>@item.Blog_Author</td>
                <td>@item.Blog_content</td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
 

        @if (pageCount <= 9)
        {
            for(int i = 1; i < pageCount; i++)
            {
                if (pageNo == i)
                {

                    <li class="page-item"><a class="page-link" href="@GetLink(i,pageSize)">@i</a></li>
                    <li class="page-item active" aria-current="page">
                        @i
                    </li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="@GetLink(i,pageSize)">@i</a></li>

                }
            }
        }
        else
        {
            if(pageNo<=3 || pageNo - 2 >= pageCount)
            {
                for(int i = 1; i <= 4; i++)
                {
                    if (pageNo == i)
                    {
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            @i
                        </li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="@GetLink(i,pageSize)">@i</a></li>

                    }
                }
                <li class="page-item"><a class="page-link" href="#">...</a></li>

                for (int i = pageCount-3; i <= pageCount; i++)
                {
                    if (pageNo == i)
                    {
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            @i
                        </li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="@GetLink(i,pageSize)">@i</a></li>

                    }
                }
            }
        }
    </ul>
</nav>